* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav.navbar{
    background-color: #f1f3ff;
}

.navbar-brand{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-item{
    margin-right: 40px;
}
.register{
    margin-right: 90px;
}

.d-flex p .bi-check-lg {
    background-color: #CFD4ED;
    color: #0D28A6;
    border-radius: 15px;
    padding: 3px 5px;
}

.bi.bi-chevron-left,
.bi.bi-chevron-right {
    background-color: white;
    color: black;
    font-size: 30px;
    border: 1px solid black;
    padding: 3px 10px;
    border-radius: 35px;
}

.bi.bi-chevron-left:hover,
.bi.bi-chevron-right:hover {
    background-color: #5CB85F;
    border: 1px solid #5CB85F;
    color: white;
}


.main-section{
    background-color: #f1f3ff;
    height: 100vh;
    position: relative;
}
/* testimoni */
.banner .container {
    background-color: #0D28A6;
    border-radius: 13px;
    color: white;
    width: 100%;
}

.banner .container * {
    margin: 16px 0;
}
.bi-star-fill{
    color: rgb(249, 204, 0);
}
.carousel-item .card .card-body img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


/* why us */
.why-us .card-body p:nth-child(2) {
    margin-top: 5%;
    font-weight: 600;
    font-size: 17px;
}

.why-us .card-body .bi {
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 3px 6px;
    z-index: 1;
}

.why-us .card-body {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: .5s ease;
    overflow: hidden;
}
.why-us .card-body.yellow:hover * {
    z-index: 9;
    color: white;
}

.why-us .card-body.yellow::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F9CC00;
    transition: .5s ease;
    clip-path: circle(7% at 32.3px 35.3px);
}

.why-us .card-body:hover.yellow::before {
    clip-path: circle(100%);
    border-radius: 5px;
}

.why-us .card-body.red:hover * {
    z-index: 9;
    color: white;
}

.why-us .card-body.red::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FA2C5A;
    transition: .5s ease;
    clip-path: circle(7% at 32.3px 35.3px);
}

.why-us .card-body:hover.red::before {
    clip-path: circle(100%);
    border-radius: 5px;
}

.why-us .card-body.blue:hover * {
    z-index: 9;
    color: white;
}

.why-us .card-body.blue::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0D28A6;
    transition: .5s ease;
    clip-path: circle(7% at 32.3px 35.3px);
}

.why-us .card-body:hover.blue::before {
    clip-path: circle(100%);
    border-radius: 5px;
}

.why-us .card-body.green:hover * {
    z-index: 9;
    color: white;
}

.why-us .card-body.green::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #5CB85F;
    transition: .5s ease;
    clip-path: circle(7% at 32.3px 35.3px);
}

.why-us .card-body:hover.green::before {
    clip-path: circle(100%);
    border-radius: 5px;
}


/* footer */
.footer {
    background-color: #f1f3ff;
    padding: 40px 0;
}
.footer .bi {
    background-color: #0D28A6;
    margin-right: 16px;
    border-radius: 15px;
    padding: 5px 7px;
    font-size: 18px;
    color: white;
    border: 1px solid #0D28A6;
}

.footer .col-md-2 a {
    color: black;
}

.footer .col-md-2 a:hover {
    color: #0D28A6;
}

.footer .bi:hover {
    background-color: white;
    border: 1px solid #0D28A6;
    color: #0D28A6;
    transition: .5s ease;
}
